// ボディテキストカラー  
$body_text_color: #000;

// チャットエリアテキストカラー  
$chat_normal_font_color: #fff;  

// サブカラー
$sub_color:#38aef0;

// メッセージエリアテキストカラー
$message_talker_text_color: #434a54;

// メッセージエリアメンバーデイトカラー
$message_member_date_color: #999999;